.jim-img-card{
    width: 60%;
    border-radius: 5px;
    -webkit-filter: drop-shadow(15px 7px 1px rgba(0,0,0,.5));
}
.jim-card-smt{
    margin-top: -30%;
    text-align: center;
    left: 30%;
}
p{
    text-align: justify;
}
@media(max-width:1366px){
.jim-ibox{
    height: 420px;
    }
}
.jim-button{
    margin-top: -45px;
}
@media(max-width:390px){
    .jim-card-smt{
        margin-top: -40%;
        left: 0%;
    }
    .jim-img-card{
        width: 30%;
    }
    p{
        text-align: justify;
    }
}